<div>
  <h2>Movies list</h2>
</div>
<div class="container">
  <div class="w-50">
    <ul>
      <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %><br>
      </li>
      <% end %>
    </ul>
  </div>
</div>
